<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace：必须与对应的接口全类名一致  UserMapper.java
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。
    v_id,s_id,v_name,s_name,v_price,v_grade,v_type
 -->

<mapper namespace="org.keshe.dsx.mapper.UserMapper">

    <select id="findByUUid" resultType="user" parameterType="String">
        SELECT * FROM user WHERE name = #{name}
    </select>

</mapper>